<a routerLink="/"><button>Click Here to go back to Hero List</button></a>
<!-- NgIf defined 
  A structural directive that conditionally includes a template based on the 
  value of an expression coerced to Boolean. When the expression evaluates to true,
   Angular renders the template provided in a then clause, and when false or null, 
   Angular renders the template provided in an optional else clause. The default 
   template for the else clause is blank. 
  -->
<div *ngIf="hero">

  <!-- the hero details that will be displayed upon clicking on name  -->

  <div id="heroDetails">
    <div><span>ID: </span>{{hero.id}}</div><br>
    <div><span>Name: </span>{{hero.name}}</div><br>
    <div><span>Class: </span>{{hero.class}}</div><br>
    <div><span>Level: </span>{{hero.level}}</div><br><br>
  </div>

  <button id="deleteButton" (click)="delete(hero)">Delete this Hero</button>

  <a routerLink="/update-hero/{{hero.id}}"><button id="updateButton">Update Hero</button></a>
  
</div>