<h1>Hero List</h1>
<ul>
    <!--Displays a list of hero names-->
    <li *ngFor="let hero of heroes">
        <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"  >
            
          <span class="name">{{hero.name}}</span >
          
        </button>
      </li>
</ul>

<!-- just used to test hero-details page routing -->
<!-- <p><a routerLink="/hero-details" routerLinkActive="active">Click here</a></p> -->

<!-- this will show the data on this page If I remove the router link in the button.  -->
<app-hero-details [hero]="selectedHero" ></app-hero-details>