<!-- <body>
  <form>
  
    <!-- id not needed  -->
  
    <!-- <label>Name:</label><br> <input type="text" #heroName (change)="addName(heroName.value)">
    <br><br>
  
    <label>Class:</label><br> <input type="text" #heroClass (change)="addClass(heroClass.value)">
    <br><br>
  
    <label>Level:</label><br> <input type="number" #heroLevel (change)="addLevel(+heroLevel.value)" >
    <br><br>
  
    <button (click)="routerToHeroList()">Click Here to Submit</button>
   -->
  
  <!-- </form>
</body> --> 

<!-- <h2 >{{hero.name | uppercase}} Details</h2>
    
<div><span>Id: </span>{{hero.id}}</div>
<div><span>Level: </span>{{hero.level}}</div>
<div><span>Class: </span>{{hero.class}}</div> -->


  
  <body>
  <div>
    <form>
      <label for="name">Name</label>
      <input input type="text" #heroName (change)="addName(heroName.value)" placeholder="Name..">
  
      <label for="class">Class</label>
      <input type="text" #heroClass (change)="addClass(heroClass.value)" placeholder="Class..">
  
      <label for="level">Level</label>
      <input type="number" #heroLevel (change)="addLevel(+heroLevel.value)" placeholder="Level..">
    
      <input type="submit" (click)="routerToHeroList()" value="Click Here to Submit">
      
    </form>
  </div>
  
  </body>
  
  
  