  <body>
  <div>
    <form>
      <a routerLink="/"><button>Click Here to go back to Hero List</button></a>
      <label for="name">Name</label>
      <input input type="text" #heroName (change)="addName(heroName.value)" placeholder="Name..">
  
      <label for="class">Class</label>
      <input type="text" #heroClass (change)="addClass(heroClass.value)" placeholder="Class..">
  
      <label for="level">Level</label>
      <input type="number" #heroLevel (change)="addLevel(+heroLevel.value)" placeholder="Level..">
    
      <input type="submit" (click)="routerToHeroList()" value="Click Here to Submit">
      
    </form>
  </div>
  
  </body>
  
  
  