<div *ngIf="hero">
    <a routerLink="/"><button>Click Here to go back to Hero List</button></a>

        <p #heroUpdate>Current Name: {{hero.name}}</p>
        <p #heroUpdate>Current Class: {{hero.class}}</p>
        <p #heroUpdate>Current Class: {{hero.level}}</p>

    <H2>Update the Hero Below</H2>

    <!-- this is just a generic form I found online and used to submit my updated hero data -->

    <form>
        <label for="name">Name</label>
        <input input type="text" #heroName (change)="updatedNameValue(heroName.value)" placeholder="Name.." required />

        <label for="class">Class</label>
        <input type="text" #heroClass (change)="updatedClassValue(heroClass.value)" placeholder="Class.." required />

        <label for="level">Level</label>
        <input type="number" #heroLevel (change)="updatedLevelValue(+heroLevel.value)" placeholder="Level.." required />

        <input type="submit" value="Submit" (click)="routerToHeroList()">

    </form>

</div>